<% breadcrumb :chat_room%>
<div class="page-title">
メッセージ一覧
</div>

<%=render partial: "partial/chat_room_form",collection: @chat_room_users,as:"chat_room_user",locals:{chat_messages:@chat_messages}%>

