
<div id="chat-messages">
  <%render partial: "partial/chat_message",collection: @chat_messages%>
</div>

<form>
  <textarea data-behavior="chat_room_speaker" data-chat_room_id="<%= @chat_room.id %>" placeholder="メッセージを入力" class="chat-room__message-form_textarea"></textarea>
</form>
