
<div id="chat-messages">
  <%=render partial: "partial/chat_message",collection: @chat_messages%>
</div>


<div id="messages">
 <%#自分のメッセージが入る%>
</div>


  <%= form_with model: @chat_message,url: user_chat_room_chat_messages_path(current_user,@chat_room)  do |f| %> 
   <%= f.text_field :content %> 
   <%= f.submit '送信' %> 
  <% end %> 
