body {
  font-family: sans-serif;
  background-color: #fafafa;
}

#container {
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

.main-text {
  padding-top: 166px;
  width: 100vw;
}

.lground-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.mdround-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.smround-img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.form-group {
  padding: 5px 0;
}
.link_decoration {
  color: black;
  cursor: pointer;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.flex_space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center_margin {
  margin: 0px auto 10px;
  text-align: center;
}
@media (min-width: 900px) {
  .smround-img {
    width: 40px;
    height: 40px;
  }
}
