body {
  font-family: sans-serif;
  background-color: #fafafa;
}

#container {
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

.main-text {
  padding-top: 166px;
}

.lground-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.form-group {
  padding: 5px 0;
}
