body {
  font-family: "kameron", "Noto Sans JP", "sana-serif";
}

#container {
  background-color: $cWhite;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}
<<<<<<< Updated upstream
=======

.main-text {
  padding-top: 166px;
}

.round-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
>>>>>>> Stashed changes
