.pagenation-box {
  margin-top: 20px;
}

.pagination {
  justify-content: center;
  & > li {
    & > a {
      border: none; /*枠線をなくす*/
      color: #696969; /*文字の色を変える*/
    }
    & > a :hover {
      border-radius: 15px;
    }
    & > .active > a {
      background: #93c9ff; /*背景の色を変える*/
      border-radius: 15px; /*角を丸くする*/
    }
  }
}
