
<div class="tweet_box">
  <div class=friend>
    <div class="friend__info">
       <div class="friend__img">
          <%if friend.myphoto.attached?%>
             <%=link_to (image_tag friend.myphoto, class: "smround-img"),user_path(friend)%>
          <%else%>
             <%=link_to (image_tag '/default_myphoto.png' , class: "smround-img"),user_path(friend)%>
          <%end%>
       </div>
       <div class="friend__name">
         <%=friend.name%>
       </div>
    </div>
  </div>
</div>
