.comments {
  background-color: white;
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 30px 0px;
  &__input {
    text-align: center;
  }
}

.comment_title {
  text-align: center;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  border-bottom: double 5px #ffc778;
}

.comments__form {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
}

.comment-btn {
  margin: 40px 0 20px;
}
.comment-line {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.comment_box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  &__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__name {
    font-size: 12px;
    margin-left: 10px;
  }
  &__comment {
    padding: 10px 0;
  }

  &__time {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
  }
}

.comment_user_info {
  display: flex;
  align-items: center;
}

@media (min-width: 900px) {
  .comment_box__comment {
    font-size: 16px;
  }
}
