<div class="contents">

<% @practices.each do |practice| %>
<% practice.images.each do |image| %>
  <%=practice.id%>
  <%= image_tag image, class: 'images' %>
<% end %>
<% end %>
  <%=render partial: 'partial/practice', collection: @practices %> 
</div>
