.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}
#error_explanation {
  color: red;
}

@media (max-width: 450px) {
  #error_explanation {
    font-size: 8px;
  }
}
