.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  list-style: circle;
  color: rgb(182, 48, 0);
}
#error_explanation {
  color: red;
  padding: 5px;
  > ul {
    width: fit-content;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  #error_explanation {
    font-size: 8px;
  }
}
