.img_black::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 62%,
    rgba(0, 0, 0, 0.85) 100%
  );
}

.tweet_box {
  background-color: white;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border: 0.5px solid rgba(0, 0, 0, 0.1);

  &__user {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  &__img {
    background-image: url("/images/a.png");
    background-position: center center;
    background-size: contain;
    background-color: rgba(221, 222, 241, 0.2);
    // background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 300px;
    position: relative;
  }
  &__info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 8px;
    font-size: 15px;
    & .m {
      margin: 5px 0;
    }
  }
}
.tweet_title {
  color: white;
  text-align: center;
  padding-top: 20px;
  border-bottom: double 5px #ffc778;
  font-size: 17px;
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0%;
  z-index: 1;
}

.tweet_user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 25px;

  &__img {
    margin: 0 10px 0 5px;
  }
  &__name {
    font-size: 12px; //あとでフォントごとに分ける
    vertical-align: baseline;
  }
}
.tweet_name {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.gear_icon {
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
  padding: 10px;
}

.menu {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: 10;
  top: 56px;
  right: 58px;
}
ul.menu-list {
  list-style: none;
  padding: 2px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 8px gray;
  color: rgba(0, 0, 0, 0.7);

  & > li {
    margin: 3px 0;
  }
}
.gear_icon:hover + .menu {
  visibility: visible;
  opacity: 1;
}
.menu:hover {
  visibility: visible;
  opacity: 1;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 22px;
  color: #808080;
}

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 22px;
  color: #e54747;
}

.comment-mark {
  font-size: 22px;
  margin-left: 7px;
}

@media (min-width: 900px) {
  .tweet_title {
    font-size: 25px;
  }
  .tweet_box {
    &__info {
      font-size: 17px;
    }

    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .tweet_user {
    height: 30px;
    &__img {
      margin: 0 10px 0 5px;
    }
    &__name {
      font-size: 15px; //あとでフォントごとに分ける
    }
  }
}
