.practice_info {
  padding: 0px 10px;

  & > p {
    text-align: center;
    margin: 0 auto;
    width: 150px;
    padding: 15px 15px 3px;
    border-bottom: solid 1px chartreuse;
    margin-bottom: 25px;
  }
  &__content {
    margin: 30px 0;
  }
}

.comments {
  margin: 60px 0;
  & > h2 {
    text-align: center;
  }
}
.comments__form {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
}

.comment_box {
  display: flex;
  align-items: center;
  &__user {
    margin-right: 10px;
  }
  &__comment {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #fff;
    border: solid 3px #555;
    box-sizing: border-box;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -24px;
      margin-top: -12px;
      border: 12px solid transparent;
      border-right: 12px solid #fff;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -30px;
      margin-top: -14px;
      border: 14px solid transparent;
      border-right: 14px solid #555;
      z-index: 1;
    }
  }
}

.btn_field {
  margin: 50px 0 0;
}
.flex_reverse {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
@media (min-width: 900px) {
  .practice_info__content {
    display: flex;
    justify-content: space-around;
  }
}
