.practice_info {
  padding: 0px 10px;

  & > p {
    text-align: center;
    margin: 0 auto;
    width: 150px;
    padding: 15px 15px 3px;
    border-bottom: solid 1px chartreuse;
    margin-bottom: 25px;
  }
  &__content {
    margin: 30px 0;
  }
}

.btn_field {
  margin: 50px 0 0;
}

.delete_btn {
  text-align: center;
}

.flex_reverse {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
@media (min-width: 900px) {
  .practice_info__content {
    display: flex;
    justify-content: space-around;
  }
}
