.practice_info {
  padding: 0px 10px;

  & > p {
    text-align: center;
    margin: 0 auto;
    width: 150px;
    padding: 35px 15px 3px;
    border-bottom: solid 1px chartreuse;
    margin-bottom: 25px;
  }
  &__content {
    margin: 30px 0;
  }
}
.practice_text {
  word-wrap: break-word;
}
.btn_field {
  margin: 50px 0 0;
}

.delete_btn {
  text-align: center;
}

.flex_reverse {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.slick-current {
  height: 300px;
  display: block;
}
.slider-img {
  display: block;
  max-width: 100%;
  max-height: 300px !important;
  width: auto;
  height: auto;
  margin: auto 0 !important;
}

.slick-prev,
.slick-next {
  background: #4bb242 !important;
  border-radius: 50%;
}
.prev-arrow {
  background: transparent;
  left: -40px;
  top: 140px;
  width: 0;
  height: 17px;
  border-left: 0 solid transparent;
  border-right: 15px solid #32cd32;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
}
.next-arrow {
  background: transparent;
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #32cd32;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 140px;
}

@media (min-width: 900px) {
  .practice_info__content {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 400px) {
  .prev-arrow,
  .next-arrow {
    display: none !important;
  }
}
